body {
    background-color: #1c1c1c; 

.flex-container {
    display: flex;
    justify-content: space-around;  
    align-items: center; 
    padding: 10px; 
    background-color: #1c1c1c;  
}

.flex-item {
    text-align: center; 
    display: flex;  
    flex-direction: column; 
    align-items: center;  

}

    .flex-item img {
        width: 100%;  
        height: auto;  
        border-radius: 5px;  
        margin-bottom: 10px;  
    }

    .flex-item p {
        margin: 0; 
        text-align: center; 
        width: 100%;  
        font-family: 'Raleway', sans-serif; 
        color: #ffffff;
    }

    .flex-item:hover {
        background-color: #555;
    }

.divider {
    border-top: 4px solid #ffeeaa;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header h1 {
    color: #f8f1f1;
    font-size: 450%;
    font-family: 'Raleway', sans-serif;
    margin-left: 40px;  
}

h2 {
    color: #f8f1f1;
    font-size: 350%;
    font-family: 'Raleway', sans-serif;
    margin-left: 75px;  
}

.flex-item h4 {
    text-align: left; 
    display: flex; 
    flex-direction: column;
    align-items: center;  
    margin-top: -20px;
    color: #ffffff;
    font-size: 150%;
    margin-left: -25px;
    font-family: 'Raleway', sans-serif; 
    margin-bottom: 20px; 
}

.flex-item h6 {
    text-align: left;  
    display: flex;  
    flex-direction: column; 
    font-weight: normal;
    align-items: center;  
    margin-top: -20px;
    color: #ffffff;
    font-size: 150%;
    margin-left: -30px;
    font-family: 'Raleway', sans-serif;  
    margin-bottom: 20px;  
}

.flex-item h7 {
    text-align: left;  
    display: flex; 
    flex-direction: column;  
    align-items: center;  
    margin-top: -20px;
    color: #ffffff;
    font-size: 150%;
    margin-left: 60px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px; 
}


.flex-item h5 {
    text-align: right;  
    display: flex;
    flex-direction: column; 
    align-items: center;  
    color: #f8f1f1;
    font-size: 150%;
    font-family: 'Raleway', sans-serif;
    margin-left: 70px; 
}

.flex-item h8 {
    text-align: right; 
    display: flex;  
    flex-direction: column;  
    align-items: center; 
    color: #f8f1f1;
    font-size: 150%;
    font-family: 'Raleway', sans-serif;
    margin-left: 600px;  
}

img.drink-image {
    text-align: right; 
    display: flex;  
    flex-direction: column;  
    align-items: right; 
    width: 150px;  
    height: 300px; 
    border-radius: 5px; 
    margin-right: 30px;
    margin-bottom: 20px; 
    margin-top: -100px;
    transform: rotate(25deg);  
}

.flex-item h6 {
    text-align: left; 
    display: flex;  
    flex-direction: column;  
    align-items: center; 
    margin-top: 20px;
    color: #ffffff;
    font-size: 150%;
    margin-left: -25px;
    font-family: 'Raleway', sans-serif;  
    margin-bottom: 40px; 
}

img.drink-image2 {
    text-align: left; 
    display: flex;  
    flex-direction: column;  
    align-items: left; 
    width: 150px;  
    height: 300px; 
    border-radius: 5px; 
    margin-left: 50px;
    margin-bottom: 20px; 
    margin-top: -100px;
    transform: rotate(-25deg);  
}

h2.tequila {
    margin-left: 920px;  
}

h2.gin {
    margin-left: 1028px;  
}

h2.whiskey {
    margin-left: 890px;  
}
.short-divider-left {
    border-top: 2px solid #7e96bc;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 75px;
    width: 300px;
}

.short-divider-right {
    border-top: 2px solid #7e96bc;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 820px;
    width: 300px;
}

img.drink-image3 {
    text-align: right; 
    display: flex;  
    flex-direction: column;  
    align-items: right; 
    width: 400px;  
    height: 300px; 
    border-radius: 5px; 
    margin-left: 30px;
    margin-bottom: 60px; 
    margin-top: -80px;
    transform: rotate(25deg);  
}

img.drink-image4 {
    text-align: left; 
    display: flex;  
    flex-direction: column;
    align-items: left;
    width: 125px;  
    height: 250px;  
    border-radius: 5px; 
    margin-left: 50px;
    margin-bottom: 20px; 
    margin-top: -100px;
    transform: rotate(-25deg);  
}

img.drink-image6 {
    text-align: left; 
    display: flex; 
    flex-direction: column;  
    align-items: left; 
    width: 125px;  
    height: 250px;  
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 20px; 
    margin-top: -100px;
    transform: rotate(25deg);
}

nav {
    background-color: #1c1c1c;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    nav a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #f8f1f1;
        padding: 10px;
        margin: 0 10px;
        border-radius: 5px;
        transition: background-color 0.3s;
        font-family: 'Raleway', sans-serif;  
    }

        nav a img {
            width: 200px;
            margin-bottom: 5px;
        }

        nav a:hover {
            background-color: #555;
        }
