.auto-style2 {
    width: 185px;
    border-top: 3px solid #ffeeaa;
    border-bottom: 3px solid #ffeeaa;
    border-right: 3px solid #ffeeaa;
    border-left: 3px solid #ffeeaa;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4%;
}

.auto-style4 {
    width: 399px;
    border-top: 3px solid #ffeeaa;
    border-bottom: 3px solid #ffeeaa;
    border-right: 3px solid #ffeeaa;
    border-left: 3px solid #ffeeaa;
    padding-left: 4%;
}

.form {
    background-color: #1c1c1c;
    color: #ffffff;
    font-size: 120%;
    font-family: 'Raleway', sans-serif;
    margin-left: 0px;
}

.divider {
    border-top: 4px solid #ffeeaa;
    margin-top: 20px;
    margin-bottom: 20px;
}

.auto-style8 {
    margin-left: 60px;
}

.back {
    background-color: #1c1c1c;
    color: #ffffff;
    font-size: 120%;
}

.h2 {
    background-color: #1c1c1c;
    color: #ffffff;
    font-size: 300%;
    font-family: 'Raleway', sans-serif;
    margin-left: 150px;
}

.h4 {
    background-color: #1c1c1c;
    color: #ffffff;
    font-size: 110%;
    font-family: 'Raleway', sans-serif;
    margin-left: 400px;
    margin-top: -30px;
}

.image-and-text {
    display: inline-block;
    vertical-align: middle;
}

.auto-style9 {
    width: 100%;
}

.datePicker {
    border-color: white;
}

    .datePicker th, .datePicker td {
        border: 1px solid white;
        color: #7e96bc !important;
    }

        .datePicker a, .datePicker td a {
            color: #7e96bc !important;
        }

.flex-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Center vertically */
    padding: 10px; /* Adjust spacing as needed */
    background-color: #1c1c1c; /* Set background color */
}

.flex-item {
    text-align: center; /* Center text horizontally */
    display: flex; /* Use flexbox for the inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items vertically */
}

    .flex-item img {
        width: 100%; /* Make the image fill the container */
        height: auto; /* Maintain aspect ratio */
        border: 1px; /* Image border */
        border-radius: 5px; /* Rounded corners */
        margin-bottom: 10px; /* Adjust the value for spacing between image and text */
    }

    .flex-item p {
        margin: 0; /* Remove default margin from the paragraph */
        text-align: center; /* Align text to the right */
        width: 100%; /* Make paragraph width 100% */
        font-family: 'Raleway', sans-serif; /* Apply Raleway font */

    }

    .flex-item:hover {
        background-color: #555;
    }